* {
	box-sizing: border-box;
}
#root {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.christmas-tree-app {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-end;
	user-select: none;
	width: 100%;
	height: 100%;
	align-items: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.christmas-tree-app__placeholder {
	margin: 0;
	flex-direction: column;
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 20px;
	justify-content: center;
	align-items: center;

	background-color: #cabb9bd6;

	background-color: var(--pattern-color1);
	background-image: radial-gradient(at 25% 25%, var(--pattern-color2) 0 var(--pattern-dot-size), transparent 0),
		radial-gradient(at 75% 75%, var(--pattern-color3) 0 var(--pattern-dot-size), transparent 0);
	background-size: var(--pattern-size) var(--pattern-size);
}

.christmas-tree-app__placeholder h1 {
	font-size: 40px;
}

.christmas-tree-app__placeholder-content {
	background: #e7e6d4f0;
	max-width: 750px;
	border-radius: 16px;
	padding: 2rem 1rem;
	border: 1rem solid var(--accent-сolor);
	border-image: repeating-linear-gradient(
			45deg,
			white,
			white 5px,
			var(--accent-сolor) 6px,
			var(--accent-сolor) 15px,
			white 16px,
			white 20px
		)
		20/1rem;
}

.christmas-tree-app__placeholder h2 {
	font-size: 40px;
}

.christmas-tree-app__current-year {
	font-size: 140px;
	font-weight: bold;
	color: white;
	position: fixed;
	right: 42px;
	top: 83px;
}

.christmas-tree-app__header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}
.christmas-tree-app__header-text {
	position: absolute;
	color: red;
	right: 50px;
	top: 100px;
}

.christmas-tree-app__header-img {
	position: absolute;
	display: flex;
	width: 40%;
	left: 50px;
	top: 50px;
}

.christmas-tree-app__tree-container {
	justify-content: center;
	display: flex;
	height: 100%;
	z-index: 2;
	user-select: none;
	position: relative;
	width: 30%;
}

main.christmas-tree-app__tree-container:after {
	content: "";
	display: block;
	width: 350px;
	position: absolute;
	height: 112%;
	background: aliceblue;
	/* transform: rotate(19deg);
	left: 60px; */
	transform: rotate(13deg);
	left: -249px;
	top: -82px;
	/* opacity: 0; */
}
main.christmas-tree-app__tree-container:before {
	content: "";
	display: block;
	width: 350px;
	position: absolute;
	height: 112%;
	background: aliceblue;
	transform: rotate(-12deg);
	right: -220px;
	/* transform: rotate(-19deg);
	right: 80px; */
	top: -82px;
	/* opacity: 0; */
	background: aquamarine;
}
.christmas-tree-app__tree-container img {
	user-select: none;
	width: 100%;
}

.christmas-tree-app__main {
	display: flex;
}
.christmas-tree-app__footer {
	width: 100%;
	bottom: 0;
	z-index: 1;
	height: 40%;
}

.christmas-tree-app__footer {
	position: absolute;
}
.christmas-tree-app__footer-logo {
	position: absolute;
	left: 25px;
	bottom: 25px;
	width: 90px;
}

@media (min-width: 1850px) {
	main.christmas-tree-app__tree-container:after {
		transform: rotate(14deg);
		left: -184px;
	}
	main.christmas-tree-app__tree-container:before {
		transform: rotate(-12deg);
		right: -170px;
	}
}
